.header {
  padding: 48px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgb(240, 36, 97);
  

  h1::after {
    content: '♫'
  }
  h1::before {
    content: '♫'
  }
  .container {
    /* background: #fff; */
  }
}


.logo-box {
  padding: 24px 0;
}

